nav {
  height: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 100px;
    height: 80px;
    margin-left: 50px;
    background-image: url(../images/r.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .links {
    width: 400px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;

    .btn {
      border-radius: 50px;
      background-color: $site-green;
      width: 120px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}

nav a {
  text-decoration: none;
  color: white;
  font-family: openR;
}

@media only screen and (max-width: 800px) {
  nav {
    flex-direction: column;
    min-height: 667px;
  }
  .logo {
    // background-color: beige;

    margin-right: 50px;
    margin-top: 50px;
    // margin-bottom: 30px;
  }
  .links {
    flex-direction: column;
    width: 400px;
    // background-color: aqua;
    min-height: 450px;
    margin: 0 auto;
    margin-left: 50px;
    padding-bottom: 50px;
  }
}
